body {
    min-height: 650px;
    background-color: white;
    padding-top: 145px;
    text-align: center;
    direction: rtl;
}

#Contact {
    min-height: 650px;
    background-color: white;
    padding-top: 145px;
    text-align: center;
}

#contact_p1{
    color: #7925c0;
    font-size: 80px;
    font-weight: bold;
}