#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color:#7925c0;
    color: white;
    text-align: center;
  }

#facebook_icon{
    margin-right: 0.5%;
}
#instagram_icon{
    margin-left: 0.5%;
}
.social_media_buttons{
    height: 35%;
    margin-top: 2%;
    cursor: pointer;
}