/* For Mobile: */
@media only screen and (max-width: 480px) {
  #Home {
    min-height: 620px;
    padding-top: 100px;
    background-image: url("homeback.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    text-align: center;
    direction: rtl;
  }

  #empButton {
    position: relative;
    background: #7925c0;
    border: 0px solid #ffffff;
    border-radius: 10px;
    width: 220px;
    padding: 10px 1px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
  }

  #empButton:hover {
    position: relative;
    cursor: pointer;
    position: relative;
    background: white;
    color: #7925c0;
    transition-duration: 0.5s;
  }

  #busButton {
    position: relative;
    background: #7925c0;
    border: 0px solid #ffffff;
    border-radius: 10px;
    width: 220px;
    padding: 10px 1px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    top: 220px;
    transition-duration: 0.5s;
  }

  #busButton:hover {
    position: relative;
    cursor: pointer;
    position: relative;
    background: white;
    color: #7925c0;
    transition-duration: 0.5s;
  }
}

/* For desktop: */
@media only screen and (min-width: 480px) {
  #Home {
    min-height: 620px;
    padding-top: 100px;
    margin-top: 90px;
    background-image: url("homeback.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    text-align: center;
    direction: rtl;
  }

  #empButton {
    position: relative;
    background: #7925c0;
    border: 0px solid #ffffff;
    border-radius: 10px;
    width: 220px;
    padding: 10px 1px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    top: 145px;
    left: -460px;
    transition-duration: 0.5s;
  }

  #empButton:hover {
    position: relative;
    cursor: pointer;
    position: relative;
    background: white;
    color: #7925c0;
    transition-duration: 0.5s;
  }

  #busButton {
    position: relative;
    background: #7925c0;
    border: 0px solid #ffffff;
    border-radius: 10px;
    width: 220px;
    padding: 10px 1px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    top: 20px;
    left: 430px;
    transition-duration: 0.5s;
  }

  #busButton:hover {
    position: relative;
    cursor: pointer;
    position: relative;
    background: white;
    color: #7925c0;
    transition-duration: 0.5s;
  }
}
