#navBar {
  position: fixed;
  border-bottom: 1px solid black;
  background-color: white;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 100;
}

#navBarTabs {
  margin: 0 auto;
  width: 1000px;
  height: 90px;
}

.NavBarButton {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  float: left;
  line-height: 80px;
}

.NavBarButton:hover {
  color: #7925c0;
  border-top: 4px solid #7925c0;
}

#logo {
  height: 70px;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin: 0 auto;
}
