#job_item_business_container{
    height: 200px;
    width: 85%;
    margin: 5px;
    border: 2.5px solid #7925c0;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s;
    font-size: 15px;
}

#job_item_business{
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#job_item_logo_business_container{
    height: 100%;
    width: 20%;
    float: right;
    max-height: 200px;
    border-left: 2.5px solid #7925c0;
}
#job_item_business_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    height: 50%;
}
#job_item_business_logo:hover {
    opacity: 0.6;
    transition: 0.3s;
}

#job_item_info_business{
    height: 100%;
    width: 80%;
    float: right;
    
}

.full_info_business{
    height: 100%;
    width: 70%;
    float: right;
    padding-right: 2%;
}
#job_item_buttons_business{
    height: 100%;
    width: 30%;
    float: right;
}

#job_item_buttons_show_candi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    cursor: pointer;
    border-radius: 10px;
    margin: 7%;
    background-color:  #7925c0;
    color: white;
    font-weight: bold;
}

#job_item_buttons_delete_job{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    cursor: pointer;
    border-radius: 10px;
    margin: 7%;
    background-color:  #7925c0;
    color: white;
    font-weight: bold;
}