

#toEmployees {
    min-height: 650px;
    background-color: white;
    padding-top: 145px;
    text-align: center;
}

#paragraph_1{
    color: #7925c0;
    font-size: 30px;
}

#paragraph_2{
    font-size: 20px;
}

#carousel{
    background-color: rgb(56, 56, 56);
    height: 320px;
    color: white;
}

.carousel_item{
    height: 320px ;
    text-align: center;
}

.job_pic{
    width: 15%;
    height: 50%;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#paragraph_3{
    background-color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: center; 
}