#toEmployees {
    min-height: 650px;
    background-color: white;
    padding-top: 145px;
    text-align: center;
    
}

#paragraph_1{

    color: #7925c0;
    font-size: 30px;
   
}

#paragraph_2{

    font-size: 20px;
   
}
  