#aboutUs{
    min-height: 650px;
    padding-top: 100px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: right;
    direction: rtl;
    font-size: 20px;
}

#aboutUs_p1{
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
}

#aboutUs_p2{
    padding-top: 35px;
    width:90%;
}

.aboutUs_name_title{
    font-size: 35px;
    color: #7925c0;
}

#amit_div{
    margin-top: 35px;
    display: flex;
}
#aboutUs_amit_description{
    width:70%;
}
#aboutUs_amit_pic_div{
    width:25%;
}

#yuval_div{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
}

#aboutUs_yuval_description{
    width:70%;
    margin: 0, auto;
}

#aboutUs_yuval_pic_div{
    width:25%;
}

.personal_pic{
    width:80%;
    margin-right: 15%;
    border-radius: 50%;
    border: 3px solid rgb(56, 56, 56);
    transition: 0.4s;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.personal_pic:hover{
    border: 5px solid #7925c0;
}
