#aboutUs {
    min-height: 650px;
    padding-top: 100px;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: center;
    direction: rtl;
    font-size: 20px;
}
#aboutUs_p1{
    padding-top: 10px;
    font-size: 30px;
    
    
}
#aboutUs_p2{

    padding-top: 35px;
}
#aboutUs_p3{
    padding-top: 35px;
}
#aboutUs_p4{
    padding-top: 35px;
}
#aboutUsPic1
{
    width:90px;
    height: 120px;
}
#aboutUsPic2
{
    width:90px;
    height: 120px;
}
