#admin_business{
    min-height: 650px;
    padding-top: 130px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: right;
    direction: rtl;
    font-size: 20px;
}

#registered_business{
    color: #7925c0;
    margin-bottom:  auto;
}