/* For Mobile: */
@media only screen and (max-width: 480px) {
  #admin_messages {
    min-height: 400px;
    padding-bottom: 20px;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    text-align: right;
    direction: rtl;
  }
  #messages {
    margin-top: 20px;
    color: #7925c0;
    font-weight: bold;
    font-size: 16px;
  }

  #switch_message_type_button {
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #7925c0;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    margin-top: 15px;
  }

  #msg {
    text-align: center;
    color: #7925c0;
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  #message_business_deatils_button {
    height: 60px;
    width: 100%;
    float: left;
  }

  #message_business_deatils_button_delete_message {
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: purple;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
  }
  #message_business_deatils_button_delete_message:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

/* For desktop: */
@media only screen and (min-width: 480px) {
  #admin_messages {
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 900px;
    margin: 0 auto;

    background-color: white;
    text-align: right;
    direction: rtl;
  }
  #messages {
    margin-top: 40px;
    color: #7925c0;
    font-weight: bold;
    font-size: 16px;
  }

  #msg {
    text-align: center;
    color: #7925c0;
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  #switch_message_button {
    height: 50px;
    width: 200px;
    float: left;
  }

  #switch_message_type_button {
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #7925c0;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
  }
  #switch_message_type_button:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}
