#my_jobs_employee{
    min-height: 650px;
    padding-top: 100px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: right;
    direction: rtl;
    font-size: 20px;
}

#my_jobs_employee_title{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

#my_jobs_employee_loading_jobs_container{
    color:#7925c0 ;
    font-size: 25px;
    position: absolute;
    padding-left: 15%;
    width: 100%;
    text-align: center;
}

#my_jobs_employee_loading_jobs{
    font-size: 20px;
}